<launch>
  <!-- Launch Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ping360_gazebo_plugin)/ping360_model/world.world"/>
  </include>

  <!-- Load the model -->
  <arg name="model_file" default="$(find ping360_gazebo_plugin)/ping360_model/ping360_model.sdf"/>
  <arg name="model_name" default="ping360"/>
  <node name="spawn_ping360" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-sdf -file $(arg model_file) -sdf -model $(arg model_name) -y 0 -x 0 -z 0"/>
</launch>
